language: python
python:
    - "2.7"
    - "3.6"

install:
  - pip install .

services:
  - docker

before_install:
  - mkdir -p ${PWD}/artemis-data/override
  - cp ${PWD}/tests/.broker-00.xml ${PWD}/artemis-data/override/broker-00.xml
  - docker pull vromero/activemq-artemis
  - docker run -v ${PWD}/artemis-data/override:/var/lib/artemis/etc-override -p 5672:5672 -d vromero/activemq-artemis
  - docker ps -a

script:
  - cd tests;python test_integration.py
